# https://editorconfig.org

root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.js,*.json]
indent_size = 4

[*.html]
indent_size = 2

[*.css]
indent_size = 2
