/* ------------------------------------------------------------------------------------------
 * Content
 * ------------------------------------------------------------------------------------------ */
body {
	min-width: 980px;
	max-width: 1280px;
}

body, p, a, div, th, td { 
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

td.code {
	font-size: 14px;
	font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
}

#content {
	padding-top: 16px;
	z-Index: -1;
	margin-left: 270px;
}

p {
	color: #808080;
}

h1 {
	font-family: "Source Sans Pro Semibold", sans-serif;
	font-weight: normal;
  font-size: 44px;
  line-height: 50px;
  margin: 0 0 10px 0;
  padding: 0;
}

h2 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  margin: 0 0 20px 0;
  padding: 0;
}

section {
	border-top: 1px solid #ebebeb;
	padding: 30px 0;
}

section h1 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 700;
  font-size: 32px;
	line-height: 40px;
	padding-bottom: 14px;
	margin: 0 0 20px 0;
  padding: 0;
}

article {
	padding: 14px 0 30px 0;
}

article h1 {
	font-family: "Source Sans Pro Bold", sans-serif;
	font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}

article h2 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 10px 0;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin: 0 0 20px 0;
}

th {
	background-color: #f5f5f5;
	text-align: left;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 700;
	padding: 4px 8px;
	border: #e0e0e0 1px solid;
}

td {
	vertical-align: top;
	padding: 2px 8px;
	border: #e0e0e0 1px solid;
}

#generator {
	color: #b0b0b0;
	border-top: 1px solid #ebebeb;
	padding: 10px 0;
}

.label-optional {
  float: right;
}

/* ------------------------------------------------------------------------------------------
 * apidoc - intro
 * ------------------------------------------------------------------------------------------ */

#apidoc .apidoc {
	border-top: 1px solid #ebebeb;
	padding: 30px 0;
}

#apidoc h1 {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 700;
  font-size: 32px;
	line-height: 40px;
	padding-bottom: 14px;
	margin: 0 0 20px 0;
  padding: 0;
}

#apidoc h2 {
	font-family: "Source Sans Pro Bold", sans-serif;
	font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  padding-top: 14px;
}

/* ------------------------------------------------------------------------------------------
 * pre / code
 * ------------------------------------------------------------------------------------------ */
pre {
  background-color: #292b36;
  color: #ffffff;
  padding: 10px;
  border-radius: 6px;
  position: relative;
  margin: 10px 0 20px 0;
}

pre.language-json {
	overflow: auto;
}

pre.language-html {
	margin: 40px 0 20px 0;
}

pre.language-html:before {
  content: attr(data-type);
  position: absolute;
  top: -30px;
  left: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 600;
  font-size: 15px;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: #3387CC;
  color: #ffffff;
}

pre.language-html[data-type="get"]:before {
  background-color: green;
}

pre.language-html[data-type="put"]:before {
  background-color: #e5c500;
}

pre.language-html[data-type="post"]:before {
  background-color: #4070ec;
}

pre.language-html[data-type="delete"]:before {
  background-color: #ed0039;
}

pre.language-api .str {
	color: #ffffff;
}

pre.language-api .pln,
pre.language-api .pun {
	color: #65B042;
}

pre code {
  display: block;
  font-size: 14px;
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
	word-wrap: normal;
	white-space: pre;
}

/* Alternative
pre {
	background-color: #efefef;
	padding: 6px 8px 6px 10px;
	border: none;
	border-left: 6px solid #999999;
	border-radius: 0;
}

pre .pln,
pre .pun {
	color: #000000;
}
*/

/* ------------------------------------------------------------------------------------------
 * Sidenav
 * ------------------------------------------------------------------------------------------ */
.sidenav {
  width: 228px;
  margin: 0;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
	background-color: #f5f5f5;
}

.sidenav > li > a {
  display: block;
  width: 192px;
  margin: 0;
  padding: 2px 11px;
	border: 0;
	border-left: transparent 4px solid;
	border-right: transparent 4px solid;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.sidenav > li.nav-header > a {
  padding: 5px 15px;
  border: 1px solid #e5e5e5;
  width: 190px;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 700;
	font-size: 16px;
	background-color: #ffffff;
}

.sidenav > li.nav-header.active > a {
	background-color: #0088cc;
}

.sidenav > .active > a {
  position: relative;
  z-index: 2;
}

.sidenav > li > a:hover {
  background-color: #ffffff;
}

.sidenav > li.has-modifications a {
	border-right: #60d060 4px solid;
}

.sidenav > li.is-new a {
	border-left: #e5e5e5 4px solid;
}
